asn1crypto==0.24.0
backports.functools-lru-cache==1.6.6
boto3==1.17.112
botocore==1.20.112
certifi==2021.10.8
chardet==4.0.0
click==7.1.2
cloudpickle==1.3.0
contextlib2==0.6.0.post1
cryptography==2.1.4
cycler==0.10.0
decorator==4.4.2
enum34==1.1.10
futures==3.4.0
idna==2.6
importlib-resources==3.3.1
ipaddress==1.0.17
jmespath==0.10.0
joblib==0.14.1
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
matplotlib==2.2.5
networkx==2.2
numpy==1.16.6
pathlib2==2.3.7.post1
Pillow==6.2.2
plotly==4.14.3
pycrypto==2.6.1
pygobject==3.26.1
pyparsing==2.4.7
python-dateutil==2.9.0.post0
pytz==2024.1
PyWavelets==1.0.3
pyxdg==0.25
PyYAML==3.12
rawpy==0.13.1
requests==2.27.1
retrying==1.3.4
s3transfer==0.4.2
scandir==1.10.0
scikit-image==0.14.5
scikit-learn==0.20.4
scipy==1.2.3
sdv==0.0.0
SecretStorage==2.3.1
singledispatch==3.7.0
six==1.16.0
subprocess32==3.5.4
Theano==1.0.5
tqdm==4.64.1
typing==3.10.0.0
urllib3==1.26.18
zipp==1.2.0
